<main class="container-lg" role="main" style="margin: 35px;">
    <div *ngIf="emailSend === false">
      <h4>Entrez votre adresse mail pour recevoir un code pour changer votre mot de passe :</h4>
      <form name="form"
      [formGroup]="this.emailForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>
        <div class="form-group">
          <label for="Email" class="is-required">Email</label>
          <input type="email" class="form-control" name="email"
          formControlName="email"
          required
          email
          placeholder="Email"
          style="max-width: 250px; margin-bottom: 20px">
        </div>
        <button type="submit" class="btn btn-primary" value="sign_in">Envoyer</button>
        <button style="margin-left: 20px;" type="button" class="btn btn-primary" (click)="alreadyHaveCode()">J'ai déjà un code</button>
      </form>
      <p>{{errorSend}}</p>
    </div>
    <div *ngIf="emailSend === true">
      <h4>Entrez votre nouveau mot de passe :</h4>
      <form
      [formGroup]="this.passForm"
      (ngSubmit)="f.form.valid && changePassword()"
      #f="ngForm"
      novalidate>
        <div class="form-group" style="margin-bottom: 20px;">
          <label for="Email" class="is-required">Email</label>
          <input type="email" class="form-control" name="email"
          formControlName="email"
          required
          email
          placeholder="Email"
          style="max-width: 250px;">
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
          <label for="Email" class="is-required">Code reçu par mail</label>
          <input type="text" class="form-control" name="rand"
          formControlName="rand"
          required
          style="max-width: 250px;">
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
          <label for="newPassword1" class="is-required">Nouveau mot de passe</label>
          <input type="password" class="form-control" name="newPassword1"
          formControlName="newPassword1"
          required
          placeholder=""
          style="max-width: 250px;">
          <div *ngIf="passForm.get('newPassword1')?.invalid && 
              passForm.get('newPassword1')?.errors && 
              (passForm.get('newPassword1')?.dirty || passForm.get('newPassword1')?.touched)">
            <small class="text-danger"
              *ngIf="passForm.get('newPassword1')?.hasError('required')">
              Ce champs est requis.
            </small>
            <small class="text-danger"
              *ngIf="passForm.get('newPassword1')?.errors">
              le mot de passe doit comporter minimum 12 caractères, un chiffre et maximum un caractère spéciale.
            </small>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
          <input type="password" class="form-control" name="newPassword2"
          formControlName="newPassword2"
          required
          placeholder=""
          style="max-width: 250px;">
          <div *ngIf="passForm.get('newPassword1')?.invalid && 
              passForm.get('newPassword1')?.errors && 
              (passForm.get('newPassword1')?.dirty || passForm.get('newPassword1')?.touched)">
            <small class="text-danger"
              *ngIf="passForm.get('newPassword1')?.hasError('required')">
              Ce champs est requis.
            </small>
          </div>
        </div>
        <p class="text-danger">{{errorPass}}</p>
        <p style="font-weight: bold;">{{infoPass}}</p>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        <button style="margin-left: 20px;" type="button" class="btn btn-primary" (click)="alreadyHaveCode()">Je n'est pas reçu de code</button>
        <a style="margin-left: 20px;" class="btn btn-primary" href="/login">Retour a la connexion</a>
      </form>
    </div>
  </main>