.progress{
    margin-top: 50px;
    padding: 0;
    border-radius: 6px;
    height: 25px;
}
.progress_descript{
    margin-top: 50px;
    padding: 0;
    border-radius: 6px;
    height: 25px;
}
.progressValue{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}